.piece {
    background: white;
    border: 1px dotted #999;
    float: left;
    height: 170px;
    padding: 0;
    width: 100px;
  }
  .container-drag{
    text-align: center;
}
  .randomBoard {
    float: left;
    width: 25%;
    height: 100%;
    left:0;
    top:10;
  }
  .gameBoard{
    float: right;
    width: 30%;
    height: 100%;
    right: 0;
    top:10;
  }
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }


  * {box-sizing: border-box;}
.boardWrapper {
  max-width: 940px;
  margin: 0 auto;
}

.boardWrapper > div {
  border: 1px dashed rgb(212, 212, 212);
  background-color:rgb(253, 249, 249);
  padding: 0;
  color:white;
}
.boardWrapper {
  display: grid;
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}
.leftS{
  float:left;
}
.rightS{
  float: left;
}


